@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}
.show{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}
header{
    display: flex;
    gap: 120px;
    padding: 30px 0;
}
header ul{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #111111;
}

section.banner{
    background-color: #FBDFDB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 50px;
}
section.banner .content-text{
    margin: 0 70px;
}
section.banner h1{
    font-size: 32px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
}
section.banner p{
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
}
section.banner img{
    margin: 66px 100px 0;
}
section.mais-acessadas{
    margin: 50px auto;
}
section.mais-acessadas .display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 20px;
    margin-bottom: 50px;
}

section.mais-acessadas h2{
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-bottom: 20px;
}

section.mais-acessadas .display .content img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

section.mais-acessadas .display .content h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

section.mais-acessadas .display .content span{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

footer{
    background-color: #EEEEEE;
    padding: 23px 0;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
}


section.sobre{
    margin: 50px 0;
}
section.sobre h2{
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
}

section.sobre p{
    font-size: 400;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}

section.receita{
    margin: 50px auto;
}
section.receita .thumb img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
section.receita h2{
    margin-top: 3rem;
    text-align: center;
    font-size: 36px;
    color: #111111;
}
section.receita p{
    margin-top: 4px;
    text-align: center;
    color: #777777;
}
section.receita .title{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
section.receita .title h4{
    font-size: 24px;
    color: #111111;
}
section.receita .title span{
    font-size: 12px;
    color: #999999;
}

section.receita .ingredientes{
    margin-top: 3rem;
}
section.receita .ingredientes ul{
    margin-top: 1.25rem;
    transition: all .3s ease;
    padding-left: 40px;
}
section.receita .ingredientes ul li{
    color: #444444;
    font-size: 1.125rem;
    line-height: 28px;
}

section.receita .modo_preparo{
    margin-top: 3rem;
}
section.receita .modo_preparo ul{
    margin-top: 1.25rem;
    padding-left: 40px;
}
section.receita .modo_preparo ul li{
    color: #444444;
    font-size: 1.125rem;
    line-height: 28px;
}

section.receita .informacoes_adicionais{
    margin-top: 3rem;
}
section.receita .informacoes_adicionais p{
    text-align: left;
}
/* === MODAL === */

.modal-overlay{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    max-width: 660px;
    background: #FFF;
    border-radius: 16px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}


.modal .card img{
    margin-bottom: 20px;
    border-radius: 15px;
    max-width: 600px;
    width: 600px;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
}
.modal .card h2{
    font-size: 24px;
    font-weight: 400;
    color: #111111;
    text-align: center;
}

.modal .card p{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
    text-align: center;
    margin-bottom: 60px;
}

.modal .card a{
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}